@use "@angular/material" as mat;

@include mat.core();

$primary-palette: mat.m2-define-palette(
  mat.$m2-indigo-palette,
  A400,
  A100,
  A700
);
$accent-palette: mat.m2-define-palette(mat.$m2-indigo-palette);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

:root {
  @include mat.all-component-themes($app-theme);
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  vertical-align: middle;
  margin-right: 4px;
}
